# ==============================
# AI Voice Assistant
# Requirements
# ==============================

# Speech Recognition
SpeechRecognition==3.14.3
PyAudio==0.2.14

# Text To Speech
pyttsx3==2.99

# GUI
customtkinter==5.2.2
Pillow==11.3.0

# HTTP Requests
requests==2.32.5

# Environment Variables
python-dotenv==1.1.1

# Weather API
python-dateutil==2.9.0.post0

# Wikipedia
Wikipedia-API==0.8.1

# Jokes
pyjokes==0.8.3

# Translator
deep-translator==1.11.4

# HTML Parser
beautifulsoup4==4.13.4
lxml==6.0.1

# Natural Language Processing
nltk==3.9.1

# Reminder Scheduler
schedule==1.2.2

# Logging
loguru==0.7.3

# Testing
pytest==8.4.1

# Packaging
pyinstaller==6.15.0